<main>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex resultado justify-content-center align-items-center">
          <h1>Recordar contraseña</h1>
          <p>Hemos detectado que ese usuario ya existe en nuestra BD. ¿Deseas recuperar la contraseña?</p>
          <form>
              <input >
              <input >
              <input type="submit">
          </form>
      </div>
    </div>
  </div>
</main>