<!-- CUERPO DEL EJERCICIO -->
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Listado de objetos</h1>
      </div>
      {{#each objetosPerdidos}}
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <img src="/images/objetos/{{foto}}" style="width:100%">
          </div>
          <div class="col-8">
            <div>{{titulo}}</div>
            <div>{{descripcion}}</div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</main>